@using BusinessServices.Helpers
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>loadMapAsyncHTML</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>
    <div id='printoutPanel'></div>

    <div id='myMap' class="col-md-12" style='height: 80vh; margin-top: 5vh'></div>

    <script type="text/javascript">

        var map;

        function loadMapScenario() {

            var that = this;
            map = new Microsoft.Maps.Map(document.getElementById('myMap'),
            {
                credentials: 'Am2I_pYdXm_FnjHKk3ERrQG2-MIvdQxn67s_tOAs_L7ZTs49YnNbcfTNfrx16PXX',
                zoom: 8
            });

            var myArray = [];
            var pushpin;

            @foreach (var r in ViewBag.CityWeather)
        {
            <text>
            myArray.push(JSON.parse('@Html.Raw(Json.Encode(r))'));
            </text>
        }

            console.log(myArray);

            map.entities.clear();
            myArray.forEach(function (city) {
                pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                Microsoft.Maps.Events.addHandler(pushpin,
                    'click',
                    function () {
                        console.log(city.Name);
                        $.ajax({
                            headers: {
                                Accept: "application/json"
                            },
                            url: "https://localhost:44368/Weather/GetWeatherForCity?cityName=" + city.Name,
                            success: function (data) {

                                var information = JSON.parse(data);
                                console.log(information.Channel.item);
                                $('#myModal .modal-header').html('<h4 class="modal-title">' + city.Name + '</h4>');
                                var res = information.Channel.item.description
                                    .replace("(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)", "");
                                var res = res
                                    .replace("<BR />\n]]>", "");

                                console.log(res);
                                $('#myModal .modal-body').html(res);
                                $('#myModal').modal('show');

                            }
                        });


                    });
                map.entities.push(pushpin);

                pushpin.setLocation(new Microsoft.Maps.Location(city.Information.geometry.location.lat,
                    city.Information.geometry.location.lng));
            });

        }


    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>



    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p id="cityWeather">Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>
