@using BusinessServices.Helpers
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>loadMapAsyncHTML</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>
    <div id='printoutPanel'></div>

    <div id='myMap' style='width: 100vw; height: 100vh; clear: both'></div>

    <script type="text/javascript">

        var map;

        function loadMapScenario() {

            var that = this;
            map = new Microsoft.Maps.Map(document.getElementById('myMap'),
            {
                credentials: 'Am2I_pYdXm_FnjHKk3ERrQG2-MIvdQxn67s_tOAs_L7ZTs49YnNbcfTNfrx16PXX',
                zoom: 8
            });

            var myArray = [];
            var pushpin;

            @foreach (var r in ViewBag.CityWeather)
            {
                <text>
            myArray.push(JSON.parse('@Html.Raw(Json.Encode(r))'));
            </text>
            }

            console.log(myArray);

            map.entities.clear();
            myArray.forEach(function (city) {
                pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                Microsoft.Maps.Events.addHandler(pushpin, 'click', function() {
                    console.log("tu sam!");
                });
                map.entities.push(pushpin);

                pushpin.setLocation(new Microsoft.Maps.Location(city.Information.geometry.location.lat, city.Information.geometry.location.lng));
            });

        }


    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
</body>

</html>
